.typed{
    font-size: 40px;
    color: red;
}

.untyped{
    font-size: 40px;
    color:grey;
}

.quote{
    font-size: 0px;
    text-align: center;
    margin-top: 100px;
}

.footer {
    color: grey;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
